
     <%- include("./partials/Header.ejs"); %>
  


     <div class="d-none d-xl-block pull-right model-link margin-top-15px">
        <a id="cart-link" class="model-link margin-right-25px text-dark opacity-hover-8" href="#">
    <span>3</span><i class="fa fa-shopping-cart"></i>
</a>
        <div class="cart-model">

            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-1.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Cargo Transportation</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>

            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-2.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Air Freight</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>


            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-3.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Packaging & Storage</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>

            <div class="padding-0px">
                <div class="cart-total background-main-color padding-lr-30px padding-tb-10px text-white">
                    <div class="desc">Subtotal:</div>
                    <div class="price"><strong>$71.00</strong></div>
                    <div class="clearfix"></div>
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">view cart</a>
                <a href="#" class="btn btn-outline-primary btn-lg btn-block">Checkout</a>
            </div>
        </div>
    </div>
    <div class="d-none d-xl-block search-link pull-right model-link margin-top-15px">
        <a id="search-header" class="model-link margin-right-0px text-dark opacity-hover-8" href="#search">
    <i class="fa fa-search"></i>
</a>
    </div>

</div>
<div class="col-lg-2 col-md-12  d-none d-lg-block">
    <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" class="btn btn-sm border-radius-30 margin-tb-20px text-white  background-main-color  box-shadow float-right padding-lr-20px margin-left-30px d-block">
<i class="fa fa-envelope-o margin-right-10px"></i>  Speak To Us
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<!-- // Header  -->

<!-- Search  -->
<div id="search">
<button type="button" class="close">×</button>
<form class="clearfix d-block">
<input type="search" value="" placeholder="Search for . . . ." />
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<!-- // Search  -->

<!-- Get A Quote  -->
<%- include("./partials/SpeakToUs.ejs"); %>


<!-- // Get A Quote  -->


<div class="page-title">
<div class="container">
<div class="padding-tb-120px">
<h1>About Us</h1>
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">About Us</li>
</ol>
</div>
</div>
</div>


<!--============= About Us =============-->
<div class="nile-about-section">
<div class="container">
<div class="row">
<div class="col-lg-6 sm-mb-45px">

<div class="section-title-right text-main-color clearfix">
<div class="icon"><img src="assets/icons/title-icon-1.png" alt=""></div>
<h2 class="title-text">Who We Are ?</h2>
</div>
<div class="about-text margin-tb-25px">
<h4>25 years of experience in Logistics services</h4>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
<br> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...
</div>
<a href="#" class="nile-bottom sm">Read More</a>

</div>
<div class="col-lg-6">
<img src="https://media.istockphoto.com/photos/delivery-man-ride-motorcycle-service-fast-and-free-transport-picture-id1031773332?k=6&m=1031773332&s=612x612&w=0&h=SGHUqpWRsWLrLuRxWG6AMs8vvut9FayiH3y6mUJImgg=" alt="">
</div>
</div>
</div>
</div>
<!--============= //About Us =============-->





<%- include("./partials/CTA.ejs"); %>








<%- include("./partials/Services.ejs"); %>




  <%- include("./partials/Footer.ejs"); %>
