
     <%- include("./partials/Header.ejs"); %>
  


     <div class="d-none d-xl-block pull-right model-link margin-top-15px" >
      <!-- <a id="cart-link" class="model-link margin-right-25px text-white opacity-hover-8" href="#">
  <span>3</span><i class="fa fa-shopping-cart"></i>
</a> -->
      <div class="cart-model">

          <div class="media">
              <a href="#">
<img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-1.jpg" alt="Generic placeholder image">
</a>
              <div class="media-body">
                  <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                  <h5 class="mt-0"><a href="#">Cargo Transportation</a></h5>
                  <h6 class="mt-0 font-2">1 X 250$</h6>
              </div>
          </div>

          <div class="media">
              <a href="#">
<img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-2.jpg" alt="Generic placeholder image">
</a>
              <div class="media-body">
                  <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                  <h5 class="mt-0"><a href="#">Air Freight</a></h5>
                  <h6 class="mt-0 font-2">1 X 250$</h6>
              </div>
          </div>


          <div class="media">
              <a href="#">
<img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-3.jpg" alt="Generic placeholder image">
</a>
              <div class="media-body">
                  <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                  <h5 class="mt-0"><a href="#">Packaging & Storage</a></h5>
                  <h6 class="mt-0 font-2">1 X 250$</h6>
              </div>
          </div>

          <div class="padding-0px">
              <div class="cart-total background-main-color padding-lr-30px padding-tb-10px text-white">
                  <div class="desc">Subtotal:</div>
                  <div class="price"><strong>$71.00</strong></div>
                  <div class="clearfix"></div>
              </div>
              <a href="#" class="btn btn-primary btn-lg btn-block">view cart</a>
              <a href="#" class="btn btn-outline-primary btn-lg btn-block">Checkout</a>
          </div>
      </div>
  </div>
  <div class="d-none d-xl-block search-link pull-right model-link margin-top-15px">
      <a id="search-header" class="model-link margin-right-0px text-white opacity-hover-8" href="#search">
  <i class="fa fa-search"></i>
</a>
  </div>

</div>
<div class="col-lg-2 col-md-12  d-none d-lg-block">
  <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" class="btn btn-sm border-radius-30 margin-tb-20px text-white  background-grey-4  box-shadow float-right padding-lr-20px margin-left-30px d-block">
<i class="fa fa-envelope-o margin-right-10px"></i>  Speak To Us
</a>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</header>
<!-- // Header  -->



<!-- Search  -->
<div id="search">
<button type="button" class="close">×</button>
<form class="clearfix d-block">
<input type="search" value="" placeholder="Search for . . . ." />
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<!-- // Search  -->


<%- include("./partials/SpeakToUs.ejs"); %>




<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="logistics-6" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.8 fullwidth mode -->
<div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
<ul>
<!-- SLIDE  -->
<li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img  src="https://images.unsplash.com/photo-1558899279-70e656cde1cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-12-layer-7" data-x="['left','left','left','left']" data-hoffset="['-882','-839','-815','-401']" data-y="['top','top','top','top']" data-voffset="['217','191','280','296']" data-width="1240" data-height="134" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgb(243,136,68);"> </div>

<!-- LAYER NR. 2 -->
<div class="tp-caption   tp-resizeme" id="slide-12-layer-1" data-x="['left','left','left','center']" data-hoffset="['3','62','55','1']" data-y="['middle','middle','middle','middle']" data-voffset="['-33','-1','-11','-110']" data-fontsize="['50','50','50','45']" data-fontweight="['600','600','400','400']" data-letterspacing="['-3','-3','-4','-4']" data-width="['509','509','462','462']" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1140,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 509px; max-width: 509px; white-space: nowrap; font-size: 50px; line-height: 59px; font-weight: 600; color: #ffffff; letter-spacing: -3px;font-family:Poppins;">Million Miles
<br>
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption rev-btn " id="slide-12-layer-2" data-x="['left','left','left','center']" data-hoffset="['2','54','56','0']" data-y="['top','top','top','top']" data-voffset="['525','504','603','533']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":640,"speed":1120,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:transparent;bc:rgb(255,255,255);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: px;font-family:Poppins;background-color:rgb(0,0,0);border-color:rgb(0,0,0);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Contact Us </div>

<!-- LAYER NR. 4 -->
<div class="tp-caption   tp-resizeme" id="slide-12-layer-4" data-x="['left','left','left','left']" data-hoffset="['116','173','156','205']" data-y="['top','top','top','top']" data-voffset="['270','249','334','350']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; font-size: 80px; line-height: 22px; font-weight: 800; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">+234 </div>

<!-- LAYER NR. 5 -->
<div class="tp-caption   tp-resizeme" id="slide-12-layer-5" data-x="['left','left','left','center']" data-hoffset="['-2','61','56','0']" data-y="['middle','middle','middle','middle']" data-voffset="['42','73','59','102']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 44px; line-height: 22px; font-weight: 300; color: #ffffff; letter-spacing: -2px;font-family:Poppins;">Million Smiles....</div>

<!-- LAYER NR. 6 -->
<div class="tp-caption   tp-resizeme" id="slide-12-layer-8" data-x="['left','left','left','left']" data-hoffset="['6','68','56','95']" data-y="['top','top','top','top']" data-voffset="['243','222','308','319']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;"><img src="assets/rslider/assets/71b17-call.png" alt="" data-ww="['79px','79px','79px','79px']" data-hh="['79px','79px','79px','79px']" data-no-retina> </div>
</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>
</div>
<!-- END REVOLUTION SLIDER -->


<div class="background-white">
<div class="service-section-2 container">
<div class="row">
<div class="col-md-4" data-aos="slide-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
<div class="service layout-2 sm-mb-30px">
<div class="clearfix">
<div class="icon"><img src="/assets/img/icon/fast-food.png" alt=""></div>
<a href="#" class="title">Food</a>
</div>
<div class="dis clearfix">
Chances are unless you are very lucky you will.
</div>
</div>
</div>
<div class="col-md-4" data-aos="slide-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
<div class="service layout-2 sm-mb-30px">
<div class="clearfix">
<div class="icon"><img src="/assets/img/icon/fashion.png" alt=""></div>
<a href="#" class="title">Clothes</a>
</div>
<div class="dis clearfix">
Chances are unless you are very lucky you will.
</div>
</div>
</div>
<div class="col-md-4" data-aos="slide-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
<div class="service layout-2">
<div class="clearfix">
<div class="icon"><img src="/assets/img/icon/travel.png" alt=""></div>
<a href="#" class="title">Luggage</a>
</div>
<div class="dis clearfix">
Chances are unless you are very lucky you will.
</div>
</div>
</div>
</div>
</div>
</div>


<!--============= About Us =============-->
<div class="nile-about-section">
<div class="	container">
<div class="row">
<div class="col-lg-6">

<div class="section-title-right text-main-color clearfix" data-aos="zoom-in-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="icon"><img src="assets/icons/title-icon-1.png" alt=""></div>
<h2 class="title-text">Who We Are ?</h2>
</div>
<div data-aos="zoom-in-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600"  class="about-text margin-tb-25px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
<a data-aos="zoom-in-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600"  href="#" class="nile-bottom sm">Read More</a>


<div id="accordion" class="nile-accordion margin-top-80px sm-mb-45px">
<div class="card" data-aos="zoom-in-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="card-header" id="headingOne">
<h5 class="mb-0">
  <button class="btn btn-block btn-link active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-info-circle"></i> Why us ?</button>
</h5>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
<div class="card-body">
  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
</div>
</div>
<div class="card" data-aos="zoom-in-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="card-header" id="headingTwo">
<h5 class="mb-0">
  <button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-truck"></i> Explore our Facilities</button>
</h5>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="card-body">
  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
</div>
</div>
<div class="card" data-aos="zoom-in-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="card-header" id="headingThree">
<h5 class="mb-0">
  <button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plane"></i> Warehousing Solution</button>
</h5>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
<div class="card-body">
  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
</div>
</div>
</div>



</div>
<div class="col-lg-6" data-aos="flip-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >

<div class="row">
<div class="col-sm-6">
<a href="#"><img src="https://s3-eu-west-1.amazonaws.com/images.linnlive.com/405f2f7e2696013f65504c55964e0ce0/8559996a-1902-4884-a745-31df6881e6e5.jpg" style="height:250px; width: 500px" alt=""></a>
</div>
<div class="col-sm-6">
<div class="cart-service background-main-color">
<div class="icon"><img src="assets/img/icon/food-delivery.png" alt=""></div>
<h2>Bike Freight</h2>
<hr>
<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
</div>
</div>
<div class="col-sm-6">
<div class="cart-service background-main-color">
<div class="icon"><img src="assets/img/icon/food-delivery.png" alt=""></div>
<h2>Air Freight</h2>
<hr>
<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
</div>
</div>
<div class="col-sm-6">
<a href="#"><img src="assets/img/bike5.png" alt=""></a>
</div>
</div>

</div>
</div>
</div>
</div>
<!--============= //About Us =============-->


<%- include("./partials/CTA.ejs"); %>






<%- include("./partials/Services.ejs"); %>



<div class="section padding-tb-100px section-ba-2" data-aos="fade-up-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="container">
<!-- Title -->
<div class="section-title margin-bottom-40px">
<div class="row justify-content-center">
<div class="col-lg-7">
<div class="icon text-main-color"><i class="fa fa-money"></i></div>
<div class="h2">Our Pricing</div>
<div class="des">In quis luctus dolor. Sed ac libero arcu. Phasellus vulputate ultrices augue, eget feugiat lectus efficitur in. Nulla non pharetra justo. Nunc viverra consectetur bibendum. </div>
</div>
</div>
</div>
<!-- // End Title -->

<div class="row">

<!-- item -->
<div class="col-lg-3 col-md-6"  data-aos="slide-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="price-table">
<div class="title main-color">BASIC</div>
<div class="price"><span>$</span>199</div>
<div class="per-mile">PER MILE</div>
<ul class="elements">
<li>4000 kg load</li>
<li>425 kg / pallet </li>
<li>Warehousing</li>
<li>Free Packaging </li>
<li>24/7 support</li>
</ul>
<div class="padding-25px">
<a href="#" class="nile-bottom sm-block">ORDER NOW</a>
</div>
</div>
</div>
<!-- // end item -->

<!-- item -->
<div class="col-lg-3 col-md-6"  data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="price-table">
<div class="title main-color">BASIC</div>
<div class="price"><span>$</span>213</div>
<div class="per-mile">PER MILE</div>
<ul class="elements">
<li>4000 kg load</li>
<li>425 kg / pallet </li>
<li>Warehousing</li>
<li>Free Packaging </li>
<li>24/7 support</li>
</ul>
<div class="padding-25px">
<a href="#" class="nile-bottom sm-block">ORDER NOW</a>
</div>
</div>
</div>
<!-- // end item -->




<!-- item -->
<div class="col-lg-3 col-md-6"  data-aos="slide-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="price-table active">
<div class="title main-color">BASIC</div>
<div class="price"><span>$</span>813</div>
<div class="per-mile">PER MILE</div>
<ul class="elements">
<li>4000 kg load</li>
<li>425 kg / pallet </li>
<li>Warehousing</li>
<li>Free Packaging </li>
<li>24/7 support</li>
</ul>
<div class="padding-25px">
<a href="#" class="nile-bottom sm-block">ORDER NOW</a>
</div>
</div>
</div>
<!-- // end item -->



<!-- item -->
<div class="col-lg-3 col-md-6"  data-aos="flip-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
<div class="price-table">
<div class="title main-color">BASIC</div>
<div class="price"><span>$</span>650</div>
<div class="per-mile">PER MILE</div>
<ul class="elements">
<li>4000 kg load</li>
<li>425 kg / pallet </li>
<li>Warehousing</li>
<li>Free Packaging </li>
<li>24/7 support</li>
</ul>
<div class="padding-25px">
<a href="#" class="nile-bottom sm-block">ORDER NOW</a>
</div>
</div>
</div>
<!-- // end item -->

</div>

</div>
</div>






  <%- include("./partials/Footer.ejs"); %>
